<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- <%= f.input :in_url %> :in_url needs to be randomly generated based on :out_url-->
    <%= f.input :out_url, label: 'URL of Google Maps Address' , placeholder: 'https://www.google.com/maps/place/Burj+Khalifa/@25.197119,55.274204,17z/data=!3m1!4b1!4m2!3m1!1s0x3e5f43348a67e24b:0xff45e502e1ceb7e2'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
